<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NEWFLASH</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="~/img/icons/icon-48x48.png" />
	<link rel="canonical" href="https://demo.adminkit.io/charts-apexcharts.html" />
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/light.css" asp-append-version="true" />
</head>
<body data-sidebar-position="right" data-layout="fluid" data-sidebar-layout="default">  
    <div class="main">
        @*<nav class="navbar navbar-expand navbar-light navbar-bg">
            <ul class="navbar-nav d-none d-lg-flex">
                <li class="nav-item px-2 dropdown">
                    <a class="nav-link" asp-area="" asp-page="/Categories/Index">Category</a>
                </li>
                <li class="nav-item px-2 dropdown">
                    <a class="nav-link" asp-area="" asp-page="/Countries/Index">Country</a>
                </li>
                <li class="nav-item px-2 dropdown">
                    <a class="nav-link" asp-area="" asp-page="/Participants/Index">Participant</a>
                </li>
                <li class="nav-item px-2 dropdown">
                    <a class="nav-link" asp-area="" asp-page="/MyForms/Index">Form</a>
                </li>
            </ul>
        </nav>*@
        
        <main role="main" class="content" style="background-color: #ffffff;">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted fixed-bottom">
        <div class="container-fluid">
            <div class="row text-muted">
                <div class="col-6 text-start">
                    <p class="mb-0">
                        <a href="https://adminkit.io/" target="_blank" class="text-muted"><strong>AdminKit</strong></a> &copy;
                    </p>
                </div>
                <div class="col-6 text-end">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://github.com/jsuarez1992" target="_blank" class="text-muted" href="#">Jessica Suárez</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>